hr {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}
h2 {
  margin-top: 30px;
  text-align: center;
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
}
h3 {
  text-align: center;
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
}
iframe {
  width: 100%;
}
a {
  font-size: 10pt;
  text-decoration: none;
  color: gray;
}
a:hover {
  color: skyblue;
  transition: 0.5s;
}
details {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}
summary {
  cursor: pointer;
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}
summary::before {
  content: "▶  ";
}
details[open] > summary::before {
  content: "▼ ";
}
.container {
  max-width: 900px;
  margin: auto;
  text-align: justify;
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13pt;
}
.comment {
  text-align: center;
  color: gray;
  font-size: 10pt;
  margin-top: 200px;
  margin-bottom: 50px;
}
