hr {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;
}
h2 {
  margin-top: 30px;
  text-align: center;
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
}
h3 {
  text-align: center;
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
}
iframe {
  width: 100%;
}
a {
  font-size: 10pt;
  text-decoration: none;
  color: gray;
}
a:hover {
  color: skyblue;
  transition: 0.5s;
}
.container {
  max-width: 900px;
  margin: auto;
  text-align: justify;
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13pt;
}